body {
    font-family: din, Calibri, Cantarell, sans-serif;
    color: #000000;
}

.map-header {
    text-align: center;
}

.map-wrapper {
    width: 100%;
    height: 500px;
}

.right-slider {
    min-height: 100px;
    position: fixed;
    top: 40%;
    min-width: 30px;
    border: 1px solid #e1e1e8;
    padding: 10px;
    background-color: #fff;
    width: 260px;
    font-weight: 300;
    box-shadow: 1px 1px 3px #ccc;
    line-height: 30px;
    right: 30px;
    display: none;
}

.top-cities-wrapper {
    /*padding:10px;*/
}

.city-name {
    margin: 0 0 10px 0;
    background-color: #CC0000;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.top-city-list {
    max-height: 150px;
    overflow-x: scroll;
    text-transform: capitalize;
}

.title {
    width: 50%;
    display: inline-block;
    font-weight: bold;
}

.top-cities-wrapper > .title {
    border-bottom: 1px solid #CC0000;
    text-transform: capitalize;
}

.amcharts-map-line {
    stroke-dasharray: 2px 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    -webkit-animation: am-moving-dashes 3s linear infinite;
    animation: am-moving-dashes 3s linear infinite;
}

@-webkit-keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -30px;
    }
}

@keyframes am-moving-dashes {
    100% {
        stroke-dashoffset: -30px;
    }
}

@-webkit-keyframes am-pulsating {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes am-pulsating {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}

.amcharts-map-image-bangalore {
    color: #ffffff;
}
